<%= render "admin/shared/configuration_menu" %>

<h1><%= t(:editing_user_group) %></h1>

<%= render 'shared/error_messages', target: @user_group %>

<%= form_for(@user_group, url: admin_user_group_url(@user_group), html: { method: :put }) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <%= render 'admin/shared/edit_resource_links' %>
<% end %>

