<div id="footer">
	<div class="left" data-hook="footer_left">
		<p>
			<%= t("powered_by") %>
			<a href="http://spreecommerce.com/">Spree</a>
			&nbsp
			<%= link_to 'Sitemap', '/sitemap' %>
		</p>
	</div>
	<div class="right" data-hook="footer_right">
		<p>
			<%= link_to 'Our Policies', '/policies' %>
  			&nbsp
  			<%= link_to 'Better Way Imports', '/about' %>
		</p>
	</div>
</div>
<%= render 'shared/google_analytics' %>
