<ul id="nav" class="sf-menu">	
	<li>
		<%= link_to 'About', '/about' %>
		<ul>
			<li><%= link_to 'Our Journey', '/a-better-way' %></li>	
			<li><%= link_to 'Mission', '/mission' %></li>
			<li><%= link_to 'Vision', '/vision' %></li>
		</ul>
	</li>
	<li>
		<%= link_to 'Impact', 'javascript:return false;' %>
		<ul>
			<li><%= link_to 'Suppliers', '/our-partners' %></li>
			<li><%= link_to 'Meet our Friends', '/friends' %></li>
		</ul>
	</li>
	<li>
		<%= link_to 'Join Us', '/do-good' %>
		<ul>
			<li><%= link_to 'Become', '/freedom-fighter' %></li>
			<li><%= link_to 'Book', '/awareness-events' %></li>
			<li><%= link_to 'Buy Better Club', '/buy-better-club' %></li>
		</ul>
	<li>
		<%= link_to 'Custom Orders', '/custom-orders' %>
		<ul>
			<li><%= link_to 'Jute Bag', '/custom-jute' %></li>
			<li><%= link_to 'Cotton Bag', '/custom-cotton-and-canvas' %></li>
			<li><%= link_to 'Organic Tee', '/organic' %></li>
			<li><%= link_to 'Get a quote', 'http://www.google.com/url?q=https%3A%2F%2Fspreadsheets.google.com%2Fa%2Fbetterwayimports.com%2Fspreadsheet%2Fviewform%3Fformkey%3DdDFfS1lQNUVwb0xuOE5CMHdXYm5uUWc6MQ' %></li>
		</ul>
	</li>
	<li>
		<%= link_to 'Contact Us', '/contact-us' %>
	</li>
	<% if current_user %>
		<li><%= link_to t('my_account'), account_path %></li>
			<li><%= link_to t('logout'), destroy_user_session_path %></li>
		<% else %>
	<li><%= link_to t('log_in'), login_path %></li>
	<% end %>

	<li class="cart-indicator">
		<%= link_to_cart %>
	</li>
</ul>

