<!doctype html>
<head data-hook="inside_head">
	<%= render :partial => 'shared/head'%>
	<% @body_class ||= content_for?(:sidebar) ? 'two-col' : 'one-col' %>
</head>
<!-- End Head -->

<body class="<%= @body_class %>" id="<%= @body_id %>">
	<div id="header" class="container_bg">
		<div class="container">
			<%= logo %>
			<div id="login-bar-one">
				<ul id="nav" class="sf-menu">	
					<li>
						<%= link_to 'About', '/about' %>
            <ul>
							<li><%= link_to 'A Better Way', '/a-better-way' %></li>	
							<li><%= link_to 'Mission', '/mission' %></li>
							<li><%= link_to 'Vision', '/vision' %></li>
						</ul>
					</li>
          <li>
						<%= link_to 'Impact', '/impact' %>
						<ul>
							<li><%= link_to 'Suppliers', '/suppliers' %></li>
							<li><%= link_to 'Meet our Friends', '/meet-our-friends' %></li>
						</ul>
					</li>
          <li>
						<%= link_to 'Join Us', '/join-us' %>
						<ul>
							<li><%= link_to 'Become', '/become' %></li>
							<li><%= link_to 'Book', '/book' %></li>
							<li><%= link_to 'Buy Better Club', '/buy-better-club' %></li>
						</ul>
					<li>
						<%= link_to 'Custom Orders', '/custom-orders' %>
						<ul>
							<li><%= link_to 'Jute Bag', '/jute-bag' %></li>
							<li><%= link_to 'Cotton Bag', '/cotton-bag' %></li>
							<li><%= link_to 'Organic Tee', '/organic-tee' %></li>
							<li><%= link_to 'Get a quote', '/get-a-quote' %></li>
						</ul>
					</li>
					<li>
						<%= link_to 'Contact Us', '/contact-us' %>
					</li>
					<% if current_user %>
						<li><%= link_to t('my_account'), account_path %></li>
	  					<li><%= link_to t('logout'), destroy_user_session_path %></li>
						<% else %>
					<li><%= link_to t('log_in'), login_path %></li>
					<% end %>

					<li class="cart-indicator">
						<%= link_to_cart %>
					</li>
				</ul>
			</div>
			<div id="login-bar-two">
				<ul id="nav-bar-two">
					<li>
						<%= render 'shared/search' %>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- End Header -->

	<div id="wrapper" class="container">
		<% if content_for?(:sidebar) %>
		<div id="sidebar" data-hook data-layer="1">
			<%= yield :sidebar %>
		</div>
		<% end %>

		<div id="content">
			<%= breadcrumbs(@taxon) if @taxon %>
			<% if flash.notice %>
			<div class="flash notice">
				<%= flash.notice %>
			</div>
			<% end %>
			<% if flash[:error] %>
			<div class="flash errors">
				<%= flash[:error] %>
			</div>
			<% end %>
			<%= yield %>
		</div>
		<%= render :partial => 'shared/footer'%>
	</div>
</body>
</html>
